html {
	height: 100%;
}

body {
	background-image: url("images/ql_background.jpeg");
	background-color: #cccccc;
	height: 80%;
}

/*title declarations*/
div#title {
   	margin: auto;
	border-radius: 25px;
	background: rgba(200,0,255, 0.75);
	width: 40%; 
}

h3#page_title {
	color: green;
	font-weight:bold;
	text-indent: 5px;
	font-size:64px;
	text-align: center;
}

/*state box*/
h3#state_title {
	color: red;
	font-weight:bold;
	text-indent: 5px;
	font-size:26px;
	text-align: center;
}

div.active {
	width: 50%;
	height: 93%;
	border-radius: 25px;
	background: rgba(200,0,255, 0.75);
   	margin: auto;
}
div.inactive {
	display: none;
}

/*prompt*/
div#question {
	width: 50%;
	height: 20%;
	border-radius: 25px;
	background: rgba(25,197,30, 0.75);
   	margin: auto;
}
h4#question_desc {
	text-align: center;
}
div#prompt_counter {
	width: 20%;
	border-radius: 25px;
	background: rgba(197,25,25, 0.5);
   	margin: auto;
}
h1#prompt_counter_num {
	font-size: 200%;
	text-align: center;
}
div#answers_counter {
	width: 20%;
	border-radius: 25px;
	background: rgba(197,25,25, 0.5);
   	margin: auto;
}
h1#answers_counter_num {
	font-size: 200%;
	text-align: center;
}

/*answers*/
div#answer1 {
	float: left;
	border-radius: 25px;
	background: rgba(197,25,25, 0.5);
}
div#answer2 {

   	float: right;
	border-radius: 25px;
	background: rgba(197,25,25, 0.5);
}



/*Player table and Avatars*/
img#avatar {
	height: 100px;
	width: 100px;
}

div.player_list {
	width: 300px;
	height: 75%;
	float: left;
}

table.player_list {
	font-family: arial, sans-serif;
    	border-collapse: collapse;
    	width: 100%;
	height: 75%;
	border: 5px solid #F660AB;
	bottom:0px;
}
th.player_list {
	color: lime;
	width: 30%;
	border: 1px solid #F660AB;
}
td.player_list  {
	color: lime;
	width: 30%;
	border: 1px solid #F660AB;
	font-weight:bold;
	text-indent: 5px;
	height: 100px;
}


/*Instructions box*/
div.instruct {
	width: 20%;
	height: 100%;
	float: right;
	border-radius: 25px;
	background: rgba(200,0,255, 0.75);
}


