html {
	height: 100%;
}

body {
	background-image: url("images/ql_background.jpeg");
	background-color: #cccccc;
	height: 80%;
}
div {
	/*width: 50%;
	height: 93%;
	border-radius: 25px;*/
	background: rgba(200,0,255, 0.75);
   	/*margin: auto;*/
}
